<div class="row">
    <div class="col my-4 d-flex justify-content-between align-items-center">
        <div>
            <h1>{{ artista.name }}</h1>
            <img src="{{ artista.images[2].url }}" alt="{{ artista.name }}">
        </div>
        <div>
            <a class="btn btn-success" href="{{ path('spotify.lanzamientos') }}">Atrás</a>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Foto</th>
        <th>Album</th>
        <th>Canción</th>
    </tr>
    </thead>
    <tbody>
        {% for cancion in canciones.tracks %}
            <tr>
                <td>
                    <img src="{{ cancion.album.images[2].url }}" alt="{{ cancion.album.name }}">
                </td>
                <td>{{ cancion.album.name }}</td>
                <td>{{ cancion.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

